<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
	<meta charset='utf-8' />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache,must-revalidate" />
	<meta http-equiv="Expires" content="0" />
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<link rel="stylesheet" href="http://172.24.186.245/jslib/bootstrap/bootstrap3.0.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://172.24.186.245/jslib/bootstrap/bootstrap3.0.3/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="http://172.24.186.245/jslib/bootstrap/bootstrap3.0.3/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="http://172.24.186.245/jslib/bootstrap/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/report.css">
	<style type="text/css"></style>
</head>
<body id ='body'>
<!-- 	<section id="output-list" class="panel panel-default">
    <div class="panel-heading">Draft List</div>
	</section> -->
	</div>
	<div id = 'output-data'>
	</div>
	<div id = 'download-link'> 
		<!-- <a href='/outdatafile/20141107170107644.csv'>Download File</a> -->
	</div>
	
		<!-- <table border="1" cellspacing="0" cellpadding="2" id = "table-outdata">
		</table> -->
<!-- 
  <li class="list-group-item">
  <span class="item-casename">adasgags</span>
  <span class="item-outdata">86</span>
</li>
  <li class="list-group-item">
  <span class="item-casename">adasgags</span>
  <span class="item-outdata">86</span>
</li>
  <li class="list-group-item">
  <span class="item-casename">adasgags</span>
  <span class="item-outdata">86</span>
</li> -->
  

	
</body>
<script data-main="/js/index.main" src='//172.24.186.245/jslib/requirejs/require-2.1.10.min.js'>
</script>
