<!DOCTYPE html>
<html lang="en">
<head>
	<title>NPO Viewer</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
	<meta charset='utf-8' />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache,must-revalidate" />
	<meta http-equiv="Expires" content="0" />
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<link rel="stylesheet" href="http://172.24.186.245/jslib/bootstrap/bootstrap3.0.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://172.24.186.245/jslib/bootstrap/bootstrap3.0.3/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="http://172.24.186.245/jslib/bootstrap/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/report.css">
	<style type="text/css"></style>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">NPO Viewer</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ><a href="/">Generate report</a></li>
					<li  class="active" ><a href="/import_template">Import template</a></li>
					<li><a href="/help">Help</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section id= "filter-items" class = "panel panel-default" >
		<div id = "div-template-nav-tabs">
			<ul id="ul-template-nav-tabs" class="nav nav-tabs" role= "tablist">
				<li role="presentation" class="active"><a href="#">Create New Template</a></li>
				<li role="presentation" ><a href="#">View Old Template</a></li>
			</ul>
		</div>
		<div id="create-new-template" class="input-group">
		<!-- 	<table>
				<tr>
					<td>
						<p><label >New template name: </label>
						<p><label>Report template name:</label>
						<p><label>Type:</label>
						<p><label>Eids:</label>
						<p><label>First date: </label>
						<p><label>Second date: </label>
					</td>
					<td>
						<p><input type="text" value="test1" id='new-template-name' class="form-control input-sm" >
						<p><input type="text" id='new-report-template-name' class="form-control input-sm" value="LR13_ALU_20140814_END">
						<p><input type="text" value='ENODEB' id='new-otype' class="form-control input-sm">
						<p><input type="text" value='eNB59_END'id='new-eid' class="form-control input-sm">
						<p><input type="text" value = "2014.10.29:00.00" id='new-first-date' class="form-control input-sm">
						<p><input type="text" value = "2014.10.29:01.00"  id='new-second-date'  class="form-control input-sm">
					</td>
				</tr>
			</table>
			<button class = "btn btn-primary" id= "btn-query-report" >Create New Template 
			</button>
			<br>
			 --><br><br>
			<nobr><p><label>New template name:</label>
				<input type="text" value="test1" id='new-template-name' class="form-control input-sm" >
			<p><label>Report template name:</label>
				<input type="text" id='new-report-template-name' class="form-control input-sm" value="LR13_ALU_20140814_END">
			<p><label>Type:</label>
				<input type="text" value='ENODEB' id='new-otype' class="form-control input-sm"></p>
			<p><label>Eids:</label>
				<input type="text" value='eNB59_END'id='new-eid' class="form-control input-sm"></p>
			<p><label>First date: </label>
				<input type="text" value = "2014.10.29:00.00" id='new-first-date' class="form-control input-sm"></p>
			<p><label>Second date: </label>
				<input type="text" value = "2014.10.29:01.00"  id='new-second-date'  class="form-control input-sm"></p><br>
			<p><button class = "btn btn-primary" id= "btn-import-template" >Import New Template</button>
			<button class = "btn btn-primary" id= "btn-create-template" >Create New Template</button></nobr></p>
		</div>
	</section>
	</body>
	<script data-main="/js/template.import.main" src='//172.24.186.245/jslib/requirejs/require-2.1.10.min.js'>
	</script>