<!DOCTYPE html>
<html lang="en">
<head>
	<title>NPO Viewer</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
	<meta charset='utf-8' />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache,must-revalidate" />
	<meta http-equiv="Expires" content="0" />
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<link rel="stylesheet" href="http://172.24.186.245/jslib/bootstrap/bootstrap3.0.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://172.24.186.245/jslib/bootstrap/bootstrap3.0.3/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="http://172.24.186.245/jslib/bootstrap/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/report.css">
	<style type="text/css"></style>
</head>
<body>

<!-- <script src = "../public/javascripts/input.js" ></script> -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="container-fluid">
   
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">NPO Viewer</a>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Generate report</a></li>
        <li><a href="/import_template">Import template</a></li>
        <li><a href="/help">Help</a></li>
      </ul>
  </div>
</div> 
</nav>
	<section id= "generate_report" class = "panel panel-default" >
<table id ="table">
	<tr >
		<td  class="select_param">

<!-- <div class="labels"> 
	<ul class="nav nav-pills">
		<li class="active"><a href="#" >generate report</a></li>
		<li class="active"><a href="#" >import template
			<span class="badge">20</a></span></li>
</ul><br>
	<li class="label label-primary"><a href="#" >By Date</a></li>
	<li class="label label-primary"><a href="#" >By Date</a></li>
</div> -->
<div id="select_tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all" >
<form id = "select_param" action="submit" method="get" >
<p><label for= "reporttemplatename">Report template name:</label><br>
<input type="text"  class="form-control input-sm" name="reporttemplate"></p>

<p><label for= "type">Type:</label><br>
<input type="text"  class="form-control input-sm" name="type"></p>

<p><label for= "eids">Eids:</label><br>
<input type="text" class="form-control input-sm"  name="eids"></p>

<p><label for= "firstdate">First date: </label><br>
<input type="text" class="form-control input-sm"  name="firstdate"></p>
<p><label for= "seconddate">Second date: </label><br>
<input type="text"  class="form-control input-sm" name="seconddate"></p>
<!-- <p><label for= "case_name">Rule template name: </label><br>
<input type="text"  class="form-control input-sm" name="case_name"></p> -->
</form></br>
<button class = "btn btn-primary" id= "choose_templ" >choose template</button><br></br>
<button class = "btn btn-primary" id= "gene_report" >generate report </button>
</div>

</td>
	<td  class="empty" >hel
	</td>
		<td class= "tdiframe" width="50%" heigth="100%" align = "center">
		<iframe id = "tdiframe" class = "textiframe" name="report" frameBorder="5"  src="js/output.html" width = "980" height="760" margin = "10%"></iframe>
		</td>
	</tr>
</table>
</section>
    <div class="modal fade" id="modal-show-template" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align: center;">
    <div class="modal-dialog" id="modal-dialog" >
      <div class="modal-content" style="text-align: left;">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">x</a>
          <h4 class="modal-title" id="myModalLabel">Mail</h4>
        </div>
        <div class="modal-body">
          <p id="email">Loading...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script data-main="/js/index.main" src='//172.24.186.245/jslib/requirejs/require-2.1.10.min.js'>
</script>